*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    color: #273857;
    background: #F5E6CE;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

/* Navigation menu */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #273857;
}

.logo{
  color: #F8C01D;
}
.logo li{ /* To get rid of list points */
  list-style: none;
}
.logo a{
  color: #F8C01D;
  text-decoration: none;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{ /* To get rid of list points */
  list-style: none;
}
.nav-links a{
  color: #F8C01D;
  text-decoration: none;
}

/* Home - Landing page */
#home{
  margin-top: 50px;
  text-align: center;
}

#home h1{
  color: #273857;
  font-size: 30px;
}

#home p{
  font-size: 20px;
}

/* Projects */
#projects{
  margin-top: 50px;
  margin-left: 50px;
}

/* Collage */
.collage{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 60px;
  /*background: green;*/
  background-image: url(https://thumbs.gfycat.com/DampWastefulHumpbackwhale-size_restricted.gif);
  position: absolute;
}

.container{
  padding: 20px;
  margin: 5px;
  /* background: white;*/
  flex: 1;
  text-align: center;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container p{
  margin-top: 30px;
  color: white;
}

#water{
  color: #7ec7e9;
}

#earth{
  margin-top: 150px;
  color: #8fec43;
}

#fire{
  margin-top: 30px;
  color: #f5ab8d;
}

#air{
  margin-top: 90px;
  color: #fde616;
}

#rel2{
  position: fixed;
  text-align: center;
  z-index: 10;
  margin-left: 850px;
}


/*CSS Grid Layouts*/

.column {
  flex: 1; /*spreads divs across page evenly and all equal heights by default */
  padding: 10px;
  height: 400px;
}

.row {
  display: flex; /*flexbox layout */
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
}

#spoopy{
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}