body{
    font-family: 'Space Mono', monospace;
    color: #0a0e42;
    background: rgb(133,89,136);
    background: linear-gradient(0deg, rgb(153, 144, 230) 0%, rgb(31, 3, 54) 100%);
  }


.nav-links a{
    color: #F2B5F3;
    text-decoration: none;
  }