body{
    /*background: rgb(7,11,52);*/
    /*background: linear-gradient(0deg, rgba(7,11,52,1) 0%, rgba(122,155,179,1) 100%);*/
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    animation: backgroundAnimation 46s infinite;
}

@keyframes backgroundAnimation {
  0% {background-color: #7AB0D5;}
  20%{background-color: #536EAE;}
  40%{background-color:#0B173D;}
  /*75%{background-color:brown;}*/
  100% {background-color: black;}
}

/*
div {
    margin-top: 30px;
}
*/

@keyframes topFadeOut {
    0% {
        position: absolute;
        top: -10%;
        opacity: 0;
    }
    75% {
        position: absolute;
        top: 25%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes leftFadeInOut {
    0% {
      position: absolute;
      left: -10%;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      left: 10%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      left: 10%;
    }
  }

  @keyframes rightFadeInOut {
    0% {
      position: absolute;
      right: -10%;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      right: 10%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      right: 10%;
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }


.first-text {
    font-size: 3em;
    position: absolute;
    left: 5%;
    top: 30%;
    opacity: 0;
    animation-name: topFadeOut;
    animation-delay: 2s;
    animation-duration: 3s;
      /* delete the line below to only have the animation play once */
    /*animation-iteration-count: infinite;*/
  }

.second-text {
    font-size: 3em;
    position: absolute;
    top: 40%;
    opacity: 0;
    animation-name: leftFadeInOut;
    animation-delay: 3.5s;
    animation-duration:2s;
}

.third-text {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 40%;
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 5.5s;
    animation-duration:3.5s;
}

.fourth-text {
  font-size: 2em;
  position: absolute;
  top: 40%;
  right: 25%;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 8.5s;
  animation-duration: 6s;
}

.fifth-text {
  font-size: 2em;
  position: absolute;
  top: 50%;
  right: 35%;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 11.5s;
  animation-duration: 4s;
}

/* From stackoverflow - for the word "colours" in fifth-text */
#colours{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,red, orange , yellow, green, cyan, violet, pink); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan,  violet, pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan,  violet, pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red, orange , yellow, green, cyan,  violet, pink); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  color: transparent;
}
.ear-left{
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 15%;
  opacity: 0;
  animation-name: leftFadeInOut;
  animation-delay: 15s;
  animation-duration:5.5s;
}

.sixth-text{
  font-size: 2em;
  position: absolute;
  top: 40%;
  left: 15%;
  opacity: 0;
  animation-name: leftFadeInOut;
  animation-delay: 15s;
  animation-duration:5.5s;
}
.ear-right{
  font-size: 2em;
  position: absolute;
  top: 50%;
  right: 15%;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 16.5s;
  animation-duration:4.5s;
}
.seventh-text{
  font-size: 2em;
  position: absolute;
  top: 40%;
  right: 20%;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 16.5s;
  animation-duration:4.5s;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  
}
/*
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
*/
.swing:after{
  /*content: '';*/
  position: absolute;  
  width: 20px; height: 20px;  
  /*border: 1px solid #999;*/
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  /*content: '';*/
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  /*background: #000;*/
}

@keyframes swing {
  0% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

/* For sixth-seventh text lines */
.sound-icon {
  top: 50%;
  left: 43%;
  position: absolute;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 16.5s;
  animation-duration: 3.5s;
}

.sound-wave {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sound-wave .bar {
  display: block;
  width: 2px;
  margin-right: 1px;
  height: 90px;
  background: #7C93BF;
  animation: sound 0ms -800ms linear infinite alternate;
  transition: height 0.8s;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 6px;
  }
  100% {
    opacity: 1;
    height: 46px;
  }
}
.bar:nth-child(1) {
  height: 2px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  height: 10px;
  animation-duration: 433ms;
}

.bar:nth-child(3) {
  height: 18px;
  animation-duration: 407ms;
}

.bar:nth-child(4) {
  height: 26px;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  height: 30px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  height: 32px;
  animation-duration: 427ms;
}

.bar:nth-child(7) {
  height: 34px;
  animation-duration: 441ms;
}

.bar:nth-child(8) {
  height: 36px;
  animation-duration: 419ms;
}

.bar:nth-child(9) {
  height: 40px;
  animation-duration: 487ms;
}

.bar:nth-child(10) {
  height: 46px;
  animation-duration: 442ms;
}

.bar:nth-child(11) {
  height: 2px;
  animation-duration: 474ms;
}

.bar:nth-child(12) {
  height: 10px;
  animation-duration: 433ms;
}

.bar:nth-child(13) {
  height: 18px;
  animation-duration: 407ms;
}

.bar:nth-child(14) {
  height: 26px;
  animation-duration: 458ms;
}

.bar:nth-child(15) {
  height: 30px;
  animation-duration: 400ms;
}

.bar:nth-child(16) {
  height: 32px;
  animation-duration: 427ms;
}

.bar:nth-child(17) {
  height: 34px;
  animation-duration: 441ms;
}

.bar:nth-child(18) {
  height: 36px;
  animation-duration: 419ms;
}

.bar:nth-child(19) {
  height: 40px;
  animation-duration: 487ms;
}

.bar:nth-child(20) {
  height: 46px;
  animation-duration: 442ms;
}

.eighth-text {
  font-size: 1.2em;
  position: absolute;
  top: 30%;
  left: 40.5%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 20.5s;
  animation-duration: 5s;
}

.ninth-text{
  font-size: 1.5em;
  position: absolute;
  top: 35%;
  left: 36.3%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 23.5s;
  animation-duration: 4.5s; 
}
/* for the word "emptiness" in ninth-text */
#emptiness{
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 24s;
  animation-duration: 2s;
}

/* CSS Heart Animation */
.flex-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 50px;
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 20.5s;
    animation-duration: 5s;
  }

  .unit {
    text-align: center;
  }
  .unit p {
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    color: #fff;
  }
  .heart {
    position: relative;
    font-size: 0;
    width: 138px;
  }
  [class*="heart-piece-"] {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  .heart-piece-4 {
    -webkit-animation: piece-4 3.2s infinite;
            animation: piece-4 3.2s infinite;
  }
  .heart-piece-3,
  .heart-piece-5 {
    -webkit-animation: piece-3 3.2s infinite;
            animation: piece-3 3.2s infinite;
  }
  .heart-piece-2,
  .heart-piece-6 {
    -webkit-animation: piece-2 3.2s infinite;
            animation: piece-2 3.2s infinite;
  }
  .heart-piece-1,
  .heart-piece-7 {
    -webkit-animation: piece-1 3.2s infinite;
            animation: piece-1 3.2s infinite;
  }
  .heart-piece-0,
  .heart-piece-8 {
    -webkit-animation: piece-0 3.2s infinite;
            animation: piece-0 3.2s infinite;
  }
  .heart-piece-0 {
    left: 0px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    background-color: #ec2d73;
  }
  .heart-piece-1 {
    left: 16px;
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
    background-color:  #ec2d73;
  }
  .heart-piece-2 {
    left: 32px;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    background-color: #ec2d73;
  }
  .heart-piece-3 {
    left: 48px;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    background-color: #ec2d73;
  }
  .heart-piece-4 {
    left: 64px;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    background-color:  #ec2d73;
  }
  .heart-piece-5 {
    left: 80px;
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
    background-color:  #ec2d73;
  }
  .heart-piece-6 {
    left: 96px;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    background-color: #ec2d73;
  }
  .heart-piece-7 {
    left: 112px;
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
    background-color: #ec2d73;
  }
  .heart-piece-8 {
    left: 128px;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    background-color: #ec2d73;
  }
  @-webkit-keyframes piece-4 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 94px;
      top: -23px;
    }
  }
  @keyframes piece-4 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 94px;
      top: -23px;
    }
  }
  @-webkit-keyframes piece-3 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 90px;
      top: -31px;
    }
  }
  @keyframes piece-3 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 90px;
      top: -31px;
    }
  }
  @-webkit-keyframes piece-2 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 80px;
      top: -37px;
    }
  }
  @keyframes piece-2 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 80px;
      top: -37px;
    }
  }
  @-webkit-keyframes piece-1 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 60px;
      top: -31px;
    }
  }
  @keyframes piece-1 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 60px;
      top: -31px;
    }
  }
  @-webkit-keyframes piece-0 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 30px;
      top: -15px;
    }
  }
  @keyframes piece-0 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 30px;
      top: -15px;
    }
  }

.tenth-text{
  font-size: 1.5em;
  position: absolute;
  top: 37%;
  left: 36.3%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 26.7s;
  animation-duration: 4.3s; 
}

.brain{
  position: absolute;
  top: 70%;
  left: 40%;
  opacity: 0;
  animation-name: topFadeOut;
  animation-delay: 27.5s;
  animation-duration:5.5s;
}

.eleventh-text{
  font-size: 2em;
  position: absolute;
  top: 37%;
  left: 32%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 29.0s;
  animation-duration: 10s; 
}

#love{
  color: red;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 32s;
  animation-duration: 10s;
}