/* Font stuff */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}
.page__style {
  background: #131313;
  font-family: OpenSans-Regular, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto;
  /*overflow: hidden;*/
}
.page__style .page__description {
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.page__style h1 {
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page__style .btn_nav {
  background: #002a32;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 17px 30px;
  width: 146px;
}
.page__style .btn_nav:focus,
.page__style .btn_nav:active {
  outline: none;
}
.page__style a {
  text-decoration: none;
  color: #fff;
}
.page__style a:hover {
  text-decoration: underline;
}
.animate_content {
  animation: animate 3s ease;
}
.fadeIn {
  z-index: 10;
}
/*  home
-----------------------------------*/
.home {
  background: #00d8a3;
}

.home .btn_nav {
  background: #005A2E;
}

.home p {
  color: #00331A;
  margin-right: 10vw;
  margin-left:50vw;
  margin-top: 3vh;
  font-size: 3vh;
  border-style: solid;
  border-color: #005A2E;
  border-radius: 3vh;
  padding: 5vh;
}

.ac_desc img{
  float: left !important;
  margin-left: 10vw !important;
}





/*  Projects
-----------------------------------*/
.projects {
  background: #000000; /*#ee466d;*/
}

.projects .btn_nav {
  background: #1D0FFF;
}

#pacman_desc{
  font-family: 'Press Start 2P', cursive;
  margin-top: 10vh;;
  margin-left: 20vw;
  margin-right: 20vw;
  border-style: solid;
  border-color: #1D0FFF;
  border-radius: 3vh;
  padding: 5vh;/* For spacing within the border */
}

/*  Skills
-----------------------------------*/
.skills {
  background: #2187b1;/*#fdd56e;*/
}

.skills h1 {
  font-family: 'Bungee', cursive;
}

.skills h3 {
  font-family: 'Bungee', cursive;
}

.skills p {
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin-top: 2vh;
  margin-left: 20vw;
  margin-right: 20vw;
  z-index: 289;
}

/* Special thanks to Ted McDonald for creating this wave animation!*/
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
  opacity: 0.6;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/*  About
-----------------------------------*/
.about {
  background: #ece5eb;/*#2187b1;*/
}

.about .btn_nav {
  background: #40163F;
}

.about h1 {
  color: #1F0F0F;
  font-family: 'Marcellus', serif;
}

.about h3 {
  color: #1F0F0F;
  font-family: 'Marcellus', serif;
  font-size: 4vh;
  margin-right: 10vw;
}

.about p {
  color: #1F0F0F;
  font-family: 'Marcellus', serif;
  margin-right: 10vw;
  margin-top: 3vh;
  font-size: 2.5vh;
}

.deemo_desc img{
  float: left !important;
  margin-left: 10vw !important;
}

var sakura = new Sakura('about', {
  // options here
});


/*  Contact
-----------------------------------*/
.contact {
  background: #8a38dc;
}

.contact h1 {
  color: #D9F4FE;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.contact h3 {
  color: #D9F4FE;
  font-family: 'Roboto Slab', serif;
}

.contact p {
  color: #D9F4FE;
  font-family: 'Roboto Slab', serif;
  margin-left: 10vw;
  margin-right: 50vw;
  margin-top: 5vh;
}

.contact img{
  float: right !important;
  margin-right: 10vw !important;
}

/*  Landing
-----------------------------------*/
.landing p {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 7vh;
  line-height: 4vh;
  letter-spacing: 0.1vw;
}

/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px;
  }
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Animations */

/*
.slideUpDown {
  animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}


@keyframes slide-top {
  0% {
            transform: translateY(0);
  }
  100% {
            transform: translateY(-100px);
  }
}
*/

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.red_ghost {
  animation: float 5s ease-in-out infinite;
}

.cyan_ghost {
  animation: float 4s ease-in-out infinite;
}

.orange_ghost {
  animation: float 6s ease-in-out infinite;
}

.mario {
  animation: float 3s ease-in-out infinite;
}

.ahri {
  /*
  animation-name: slideUpDown;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  */
  animation: float 6s ease-in-out infinite;
}

